body {
  background-color: #62adeb;
  font-family: Arial, Helvetica, sans-serif;
}

.weather {
  background-color: rgba(255, 255, 255, 0.85);
  width: 700px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(75, 75, 75, 0.75);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  line-height: 0px;
  padding: 20px 10px 0;
}

h2 {
  display: inline-block;
  font-size: 4em;
}

h3 {
  font-size: 1.7em;
  margin: 0 auto 10px;
}
h4 {
  font-size: 1.2em;
  margin: 0 auto 15px;
}

p {
  font-size: 1em;
}

.add-location {
  line-height: 1em;
}

.show-temperature {
  line-height: 0;
}

.indicators {
  font-size: 1.1em;
  line-height: 1.6em;
  padding: 20px 0 0;
  margin: 0;
}

.date {
  font-size: 1.2em;
  line-height: 1.6em;
  padding: 15px 0 10px;
  margin: 0;
}

.container1,
.container2,
.container3,
.container4,
.container5 {
  display: grid;
  margin: 0 auto 10px;
}

.container1 {
  grid-template-columns: 30% 63% 5%;
  column-gap: 1%;
  height: 45px;
}

.container2 {
  grid-template-columns: 22% 76%;
  column-gap: 2%;
  height: 45px;
}

.container3 {
  grid-template-columns: 66% 33%;
  column-gap: 1%;
  height: 80px;
  margin-bottom: 20px;
}

.container4 {
  grid-template-columns: 27% 31% 40%;
  column-gap: 1%;
  margin-bottom: 50px;
}

.container5 {
  grid-template-columns: 18% 18% 18% 18% 18%;
  column-gap: 2.5%;
}

.item1,
.item3,
.item4,
.item5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item2 {
  text-align: right;
}

.item7 {
  text-align: right;
  line-height: 8px;
}
.item11 {
  border: 1.9px solid #453d6ba9;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
}

.item11:hover {
  background: #f5e6f8;
}

form {
  width: 100%;
}

.city-input {
  border: 1.5px solid #453d6ba9;
  border-right: none;
  width: 100%;
  height: 37px;
  padding: 0 5px;
  margin: 0;
  border-radius: 3px 0px 0px 3px;
}

button {
  padding: 10px;
  height: 40px;
  border-radius: 3px;
  margin: 0;
  background-color: #fff;
  border: 1.5px solid #453d6ba9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.saved-cities,
.current {
  width: 100%;
}

.search {
  width: 30%;
  border-radius: 0px 3px 3px 0px;
}

.saved-cities:hover,
.current:hover,
.search:hover {
  background-color: #f8d3ff;
}

.temperature {
  background-color: #fff;
  border: 1.5px solid #ee6666;
  height: 30px;
  padding: 0 20px;
}

.temperature:hover {
  background-color: #ffe1e1;
}

.save-to-list {
  background: none;
  border: none;
  padding: 0;
}

.heart,
.map {
  color: #ee6666;
  font-size: 30px;
}

.map {
  font-size: 40px;
}

.description {
  text-transform: capitalize;
}
